---
interface Props {
    title: string;
}
const { title } = Astro.props;
import { Skills } from "../Data/lib.js";
import { Projects } from "../Data/lib.js";
import { Education } from "../Data/lib.js";
import List from "./List/List.astro";
import Nasa from "./List/Nasa.astro";
import AboutMe from "./List/AboutMe.astro";
import Reloj from "../Icons/Reloj.astro";
import Eye from "../Icons/Eye.astro";
import MailJs from "./List/MailJs.jsx";


const display = (title === "Nasa" || title === "Contacto") ? "none" : "flex";


const widthContainer = title === "Nasa" ? "100%" : "90%";
---
    <div class="playListOrder" style={`width: ${widthContainer}`} >
    {title === "Conoceme" ? <h1 class="title">Populares</h1> : ""}  
      
       <header style={`display: ${display}`} >
        <div class="">
          #
        </div>
        <div class="">
          Título
        </div>
        <div class="">
          Álbum
        </div>
        <div class="">
          Link
        </div>
        <div class="">
          <Reloj />
        </div>
        
        

      </header>
      {title === "Habilidades" ? (
      Skills.map((item, index) => (
        <List key={index} item={item} index={index} />
      ))
    ) : title === "Proyectos" ? (
      Projects.map((item, index) => (
        <List key={index} item={item} index={index} />
      ))
    ) : title === "Educacion" ? (
      Education.map((item, index) => (
        <List key={index} item={item} index={index} />
      ))
    ) : title === "Nasa" ? (
      <Nasa />
    ) : title === "Conoceme" ? (
      <AboutMe />
    ) : 
    title === "Contacto" ? (
      <MailJs client:load/>
    ) : 
    ""}

    </div>


  <style>
    .playListOrder {
      width: 90%;
      height: 100%;
    }
    .playListOrder > h1 {
		  color: white;
		  font-weight: 800;
		  font-family: 'Poppins', sans-serif;
      margin: 20px 0;
    }
    header {
      width: 100%;
      height: 15%;
      display: flex;
      border-bottom: 1px solid gray;
    }
    header > div:first-child {
      width: 5%;
      height: 100%;
      color: rgb(161 161 170 );
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-family: 'Circular Spotify Text', 'Arial', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    header > div:nth-child(2) {
      width: 40%;
      height: 100%;
      color: rgb(161 161 170 );
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-family: 'Circular Spotify Text', 'Arial', sans-serif;

      display: flex;
      align-items: center;
    }
    header > div:nth-child(3) {
      width: 25%;
      height: 100%;
      color: rgb(161 161 170 );
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-family: 'Circular Spotify Text', 'Arial', sans-serif;
      display: flex;
      align-items: center;

    }
    header > div:nth-child(4) {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(161 161 170 );
    }
    
    header > div:nth-child(5) {
      width: 10%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(161 161 170 );
    }
    @media (width < 768px ) {
      header > div:nth-child(3), header > div:nth-child(5) {
        display: none !important;
      }
      header > div:nth-child(2) {
        width: 90% !important;
      }
      header > div:nth-child(1) { 
        width: 10% !important;
      }
    }
  </style>